.quote {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
}

.quote p {
  font-size: 1.75rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.25rem;
  text-align: right;
  color: #a1e0e0;
}
