:root {
  --color1: teal; /* primary */
  --color2: rgb(204, 231, 231); /* border */
  --errorColor: rgb(187, 7, 7);
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 1rem 0;
}

.input-label {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.input-section input {
  outline: none;
  border: 2px solid #ccc;
  font-size: 1.35rem;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease;
}

.input-section input:focus {
  background-color: var(--color2);
  border: 2px solid var(--color1);
}

p.input-error {
  font-size: 1.15rem;
  padding-inline: 0;
  margin: 0.5rem 0;
  color: var(--errorColor);
}
