button.btn {
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 1.25rem;
}

button.btn:hover {
  background-color: var(--primary);
  color: white;
}

button.btn[disabled],
button.btn[disabled]:hover {
  background-color: rgb(209, 208, 208);
  color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}
