.form-div {
  width: 75%;
  margin: 1rem auto;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px 8px 6px 6px;
}

.header {
  text-align: center;
  margin-block: 0;
  font-size: 24px;
  color: white;
  background-color: #660088;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: -1rem -1rem 1rem -1.5rem;
  border-radius: 6px 6px 0 0;
}

.form-div form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-div form label {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.form-div form input {
  outline: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 0.25rem 0.5rem;
  border: 2px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.form-div form input:focus {
  border: 2px solid #660088;
  background-color: #e4d0f1;
}

.form-div form input.input-valid {
  border: 2px solid #097969;
  background-color: #afe1af;
}

.form-div form input.input-invalid {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
}


p.error-text {
  color: #b40e0e;
  margin-block: 0;
  font-weight: bold;
}

form .submit-btn {
  max-width: 10rem;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  background-color: white;
  color: #660088;
  border: 2px solid #660088;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  align-self: center;
}

.submit-btn:hover {
  transform: scale(1.05);
}

.submit-btn:active {
  color: white;
  background-color: #660088;
  border: 2px solid transparent;
}

.submit-btn[disabled],
.submit-btn[disabled]:hover,
.submit-btn[disabled]:active {
  transform: none;
  background-color: #ccc;
  border-color: #ccc;
  color: #858585;
  cursor: not-allowed;
}
