.tasks-list {
  list-style: none;
  padding-inline: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.tasks-header{
  text-align: center;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ccc;
  margin-block: 0;
  margin-bottom: 2rem;
}

@media (max-width: 1150px){
  .tasks-list{
    grid-template-columns: repeat(2,1fr);
  }   
}

@media (max-width: 500px){
  .tasks-list{
    grid-template-columns: 1fr;
  }   
}