.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.user-img {
  width: auto;
  margin-left: -3rem;
  height: 15rem;
}

h3.user-header {
  font-size: 26px;
}

@media (max-width: 800px) {
  img.user-img {
    margin-left: 0;
    height: 9rem;
  }
}
