.App{
    background-color: white;
    height: min-content;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
