:root {
  --primary: teal;
  --secondary: hsl(180, 55%, 95%);
  --errorColor: hsl(7, 63%, 40%);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
