.btn{
    background-color: blueviolet;
    max-height: 4rem;
    max-width: 20rem;
    padding: .75rem 4rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem 0;
}

.btn:hover{
   opacity: .9;
}