.btn {
  background-color: white;
  font-size: 18px;
  color: blueviolet;
  font-weight: 600;
  padding: 0.25rem 1rem;
  outline: none;
  text-align: center;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  border: 2px solid blueviolet;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active{
    background-color: blueviolet;
    color: white;
}
