.btn{
    background-color: blueviolet;
    max-height: 4rem;
    max-width: 20rem;
    padding: .5rem 4rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn:hover{
   opacity: .9;
}