div.spinner-div {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.spinner {
  position: relative;
  top: -5rem;
  width: 100px;
  height: 100px;
  border: 10px solid #38015c;
  border-color: #38015c transparent #38015c transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
