.noti-div {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s forwards ease;
  animation: fadeOut 6s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.noti-default {
  background-color: rgb(24, 90, 144);
}

.noti-success {
  background-color: rgb(24, 144, 98);
}

.noti-error {
  background-color: rgb(165, 53, 38);
}

h3.noti-header {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  margin-block: 0;
}

p.noti-message {
  color: white;
  padding-inline: 0;
  margin-block: 0;
}

button.noti-cancel {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}

button.noti-cancel:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 660px) {
  .noti-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 0.5rem 1rem;
    grid-row-gap: 0.5rem;
  }

  h3.noti-header {
    grid-row: 1/2;
    grid-column: 1/ 3;
  }

  p.noti-message {
    grid-row: 2/3;
    grid-column: 1/4;
    align-self: flex-start;
    margin-bottom: 0.25rem;
  }

  button.noti-cancel {
    align-self: flex-end;
    justify-self: flex-end;
  }
}
